.badge {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 30px;
  margin: 0 10px 15px 0;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
